<h2>Hello and welcome to your Planner App!</h2>

<p>This is the place to find everything you need to plan out your hectic life, this beta of the Planner App comes with:</p>

<h3>A Schedual Keeper</h3>
<p>Record all your important events here for a quick and easy way to see everything you have going on in your crazy life, you social animal you :D </p>

<h3>A List Maker</h3>
<p>Need to go to the store? Can't remember what your boss just told you to do. Why not make a list so you will never forget! Just don't forget to delete them once you've done them.</p>

<p> If you'd like to participate please just <a href="/signup">SIGN UP</a> or <a href="/login">LOGIN</a> if you've already made an account. We look forward to helping you get your life more orgainzed!</p>
